@import 'antd/dist/antd.css';
.button{
    background-color: blue;
    color: white;
    margin-left: 5px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.searchInput{
    width: 250px !important;
    margin: 20px;
}